*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: bold;
}

body{
    background-color: #f3e1e1;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(18, 18, 18, 0.411),rgba(255, 255, 255, 0.298)),url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    background:#fff3f3;
    display:flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
}
nav img{ 
    width: 45px; 
    height: auto; 
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 12px;
    position: relative;
    
}
.nav-links a{
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 1.5px;
    background: #fb4343;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.nav-links ul li:hover::after{
    width: 100%;
    
}
.text-box{
    width: 90%;
    color: #fff;
    position:absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    font-weight: bold;

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(255, 255, 255); 
}
.icon{
    display:none;
}

/* Course */
 .course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 300;
}
p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 24%;
    background: #fff3f3;
    border-radius: 50px;
    margin-bottom:5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}
.course-col:hover{
    box-shadow: 10px 10px 24px 0px rgba(255, 3, 3, 0.4);
}

/* Mission_and_Vision */
.Mission_and_Vision{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.Mission_and_Vision-col{
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

/*in_focus*/
.in_focus{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 50px;
}
.in_focus-col{
        flex-basis: 32%;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
}
.in_focus-col img{
        width: 100%;
        display: block;
}
.layer{
        background: transparent;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        transition: 0.5s;
}
.layer {
    background: rgba(0, 0, 0, 0.5); 
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
 .layer h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
}
.layer:hover h3 {
    opacity: 1;
}
  
/* college photo*/
.ctn{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    transition: 0.5s;
}
.ctn h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.ctn:hover{
    margin: 100px auto;
    width: 80%;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/college.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.664);
}
/* Footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-top: -50px;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
} 


