/*sec nav*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
    width: 100%;
  }
  .menu-items {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-items li {
    margin: 0 10px;
  }
  .menu-items a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
  }
  .menu-items a:hover {
    color: #f39c12;
  }
  .hamburger {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  